[Unit]
Description=Flamatik Autostart Service
After=network.target

[Service]
ExecStart=/home/pi/flame_art/flamatik/headless.sh
WorkingDirectory=/home/pi/flame_art/flamatik
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target
