[
	{ "row": 0, "column": 0, "pattern": "stop" },
	{ "row": 0, "column": 1, "pattern": "poof", "delay": 0.3},
	{ "row": 0, "column": 2, "pattern": "poof", "delay": 1},
	{ "row": 0, "column": 3, "pattern": "poof", "nozzle": 1, "group": 5, "delay": 1},
	{ "row": 0, "column": 4, "pattern": "fast"},
	{ "row": 0, "column": 5, "pattern": "group"},
	{ "row": 0, "column": 6, "pattern": "multiwave"},
	{ "row": 0, "column": 7, "pattern": "pulse"},
	{ "row": 1, "column": 0, "pattern": "soliwave"},
	{ "row": 1, "column": 1, "pattern": "random_equator_spin_poof"},
	{ "row": 1, "column": 2, "pattern": "random_star_fade"},
	{ "row": 1, "column": 3, "pattern": "random_star_poof"},
	{ "row": 1, "column": 4, "pattern": "random_star_fade"},
	{ "row": 1, "column": 5, "pattern": "random_star_with_opposites_fade"},
	{ "row": 1, "column": 6, "pattern": "random_star_with_opposites_poof"},
	{ "row": 1, "column": 7, "pattern": "rings"},
	{ "row": 2, "column": 0, "pattern": "trail_up"},
	{ "row": 2, "column": 1, "pattern": "trail"},
	{ "row": 2, "column": 2, "pattern": "point_up"},
	{ "row": 2, "column": 3, "pattern": "equator_imu_ortho"},
	{ "row": 2, "column": 4, "pattern": "equator_imu_single"},
	{ "row": 2, "column": 5, "pattern": "equator_wave"},
	{ "row": 2, "column": 6, "pattern": "snake"},
	{ "row": 2, "column": 7, "pattern": "snake_retreat"},
	{ "row": 3, "column": 0, "pattern": "stop"},
	{ "row": 3, "column": 1, "pattern": "test_triples"},
	{ "row": 3, "column": 2, "pattern": "test_equators"},
	{ "row": 3, "column": 3, "pattern": "test_halos"},
	{ "row": 3, "column": 4, "pattern": "test_neighbors"},
	{ "row": 3, "column": 5, "pattern": "test_opposite"},
	{ "row": 3, "column": 6, "pattern": "test_orthogonals"},
	{ "row": 3, "column": 7, "pattern": "test_stars"}
]
