[Unit]
Description=FlameTest Headless
After=network.target

[Service]
ExecStart=/home/pi/flame_art/flame_test/headless.sh
WorkingDirectory=/home/pi/flame_art/flame_test
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
